body{
    background-color: rgb(200, 241, 205);
    
}


h1{
    color: rgb(34, 174, 88); ;

}
div img{
    width: 400px;
    margin-bottom: 50px;
    margin-top: 10px;
    margin-left: 00px;
    float: right;}