body{

    height: 100vh;

    margin: 0;

    background-size: cover;

    font-family: sans-serif;

    background-color: rgb(200, 241, 205);
    font-size: small;

}







h1{

    color: rgb(34, 174, 88);

}

